@import "@/common/sass/public/header/index.scss";
@import "@/common/sass/public/footer/index.scss";

$themeColor: orange;

.el-container {
    width: 100%;
    .el-header,
    .el-main,
    .el-footer {
        width: 100%;
        height: auto !important;
        margin: 0 auto;
        padding: 0;
        overflow: unset;
        .el-row {
            // margin: unset;
        }
    }
    .my-header,
    .my-main,
    .my-footer {
        width: 1190px;
        margin: 0 auto;
    }
    .el-header {
        background-color: #f8f8f8;
    }
    // .el-main{
    //     // background-color: #0095d9;
    // }
    .red {
        color: #f40;
    }


    .clearfix:before,
    .clearfix:after {
        content: " ";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}
