<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            width: 100px;
            height: 100px;
            border: 1px solid red;
            display: inline-block;
        }

        div.align {
            vertical-align: top;
        }
    </style>
</head>

<body>
    <div></div>
    <div class="align">为什么？</div>


    <div class="slider-item-film">
        <a href="https://maoyan.com/films/1222234"  target="_blank">
            <img  src="//p0.meituan.net/movie/e2ecb7beb8dadc9f07f2fad9820459f92275588.jpg@267w_371h_1e_1c" />
            <div class="film-info">
                <p class="film-score">
                    <b>观众评 <span>9</span></b>
                </p>
                <p class="film-name">我的姐姐</p>
                <span class="buy-ticket">购票</span>
            </div>
        </a>
    </div>
</body>

</html>