@import '@/common/sass/index/banner-container.scss';
@import '@/common/sass/index/container.scss';
.page-index{
    width: 1190px;
    margin: 0 auto;
    margin-bottom: 50px;
}
html{
    font-size: 10px;
}