@font-face {
    font-family: 'iconfont';  /* project id 2460964 */
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff2') format('woff2'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
  }
  
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Artboard:before {
  content: "\e602";
}

.icon-maikefeng-dianji:before {
  content: "\e627";
}

.icon-yaling:before {
  content: "\e608";
}

.icon-fangzi:before {
  content: "\e691";
}

.icon-yiliao:before {
  content: "\e671";
}

.icon-shijuan:before {
  content: "\e7fe";
}

.icon-shenghuofuwu:before {
  content: "\e614";
}

.icon-qinziyou:before {
  content: "\e60b";
}

.icon-jiancai:before {
  content: "\e632";
}

.icon-jiuba:before {
  content: "\e611";
}

.icon-lirenmeirong:before {
  content: "\e60c";
}

.icon-jipiaohuochepiao:before {
  content: "\e638";
}

.icon-zuanshi:before {
  content: "\e65a";
}

.icon-waimai:before {
  content: "\e600";
}

.icon-meishi:before {
  content: "\e601";
}

.icon-jiudian-copy:before {
  content: "\e624";
}

